@using TicketingSystem.Core.DTOs
@model LoginDto

@section customstyle {
        .gradient-custom {
            background: #e79087;
            background: -webkit-linear-gradient(315deg, #e79087 0%, #fcd181 74%);
            background: linear-gradient(315deg, #e79087 0%, #fcd181 74%);
        }
}

@section customnav {
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/"><strong><span>Ticket</span><span class="p-1 rounded ml-1 bg-warning text-dark">Hub</span></strong> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light active" href="#">Help</a>
                    </li>
                </ul> 
            </div>
        </div>
    </nav>
}


<section class=" vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                @if (!String.IsNullOrEmpty(ViewBag.Error))
                {
                    <div class="alert alert-warning mt-5 alert-dismissible fade show" role="alert">
                        @ViewBag.Error
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                <div class="card shadow bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-3 mt-md-4 pb-3">

                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">Please enter your login and password!</p>


                            <form asp-action="Login" asp-controller="Auth">
                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <input required asp-for="Email" type="email" id="typeEmailX" class="form-control" placeholder="Email" />
                                </div>

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <input required type="password" asp-for="Password" id="typePasswordX" class="form-control" placeholder="Password" />
                                </div>

                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light px-5" type="submit">Login</button>
                            </form>
                        </div>

                        <div>
                            <p class="mb-0">
                                <a href="/" class="text-white-50 fw-bold">Home</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>