<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card" style="margin-top: 8rem;">
            <div class="card-header">
                <h5>Change Password</h5>
            </div>
            <div class="card-body">
                    <div class="form-group">
                    <small id="newPasswordHelp" class="form-text text-muted">Link to change password will be sent to @ViewBag.User.Email, however you can proceed with old password as well.</small>
                        <button class="btn btn-dark mt-2">Send link to change password</button>
                    </div>
                    <hr />
                    <div class="form-group">
                    <small id="newPasswordHelp" class="form-text text-muted">Link to change password will be sent to @ViewBag.User.Email, but you cannot perform any operation unless you change your password.</small>
                    <button class="btn btn-dark mt-2">Send link and force user to change password</button>
                    </div>
            </div>
        </div>
    </div>
</div>