@model ChangePasswordDto

@{
    ViewBag.Title = "Reset Password";
    string passwordHash = ViewContext.RouteData.Values["passwordHash"]!.ToString()!;
}

@section customstyle {
    body {
        background-color: #f8f9fa!important;
    }
}

@section customnav {
    <nav class="navbar bg-light mb-5">
        <div class="container">
            <a class="navbar-brand" href="/"><strong><span class="text-dark">Ticket</span><span class="p-1 rounded ml-1 bg-warning text-dark">Hub</span></strong> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex align-items-center">
                <centre class="text-dark" style="font-weight: bolder">
                    Reset Password <span style="font-weight: lighter">
                        @if (!String.IsNullOrEmpty(ViewBag.Email))
                        {
                            @ViewBag.Email
                        }
                    </span>
                </centre>
            </div>
        </div>
    </nav>
}


@if (ViewBag.Error == null)
{
    <div class="container mt-5">
        <div class="d-flex flex-column justify-content-center align-items-center mt-5">
            <div class="group" style="margin-top: 4rem">
                <p style="font-size: 2rem;" class="mb-3">Reset your password</p>
                <div class="card shadow" style="width: 40vw">
                    <div class="card-body">
                        <form asp-controller="Password" asp-action="ResetPassword" asp-route-passwordHash="@passwordHash">
                            <div class="form-group">
                                <label asp-for="Password">Password</label>
                                <input type="password" asp-for="Password" class="form-control" id="password">
                                <span id="passwordHelpBlock" asp-validation-for="Password" class="form-text text-muted"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword">Confirm Password</label>
                                <input type="password" asp-for="ConfirmPassword" class="form-control" id="confirmPassword">
                                <span asp-validation-for="ConfirmPassword" id="passwordHelpBlock" class="form-text text-muted"></span>
                            </div>
                            <button type="submit" class="btn btn-dark">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="d-flex flex-column justify-content-center align-items-center mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Broken Link!</h1>
            <p class="lead">This link is invalid and no more active. If you're looking to reset password re-generate the link and try again.</p>
            <hr class="my-4">
            <a class="btn btn-dark btn-lg" href="/" role="button">Home</a>
        </div>
    </div>
}