<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card" style="margin-top: 8rem;">
            <div class="card-header">
                <h5>Change Password</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <small id="newPasswordHelp" class="form-text text-muted">Link to change password will be sent to @ViewBag.User.Email.</small>
                    <form asp-action="SendChangePasswordLink" asp-area="Admin" asp-controller="Home">
                        <button type="submit" class="btn btn-dark mt-4">Send link to change password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>