<div class="container">
<div class="jumbotron mt-5 bg-info">
    <h1 class="display-4">Successfully Sent Link!</h1>
    <p class="lead">We've sent the password reset link on your email.</p>
    <hr>
    <a href="/Admin/Home" class="btn btn-dark btn-lg mt-2">Home</a>
</div>
</div>